/* 
  Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like THIS.
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px; /* footer height */
  text-align: center;
  font-family: 'Oswald Light', sans-serif;
  background-color: #444;
}

header, footer {
  background-color: rgba(34,0,0, 0.8);
  color: #fff;
}

header {
  text-transform: uppercase;
  padding-bottom: .4em;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: .4em .2em .2em;
  /* if you remove this, font-height jumps to 49px from 46 */
  /*font-family: 'Passion One', cursive;*/
  font-size: 2.6em;
}

h1 a {
  font-family: 'Passion One', cursive;
  text-decoration: none;
  color: #fff;
}

li a:hover {
  font-weight: bold;
}

main { /* was 105px */
  margin: 81px auto 66px;
  min-width: 400px;
}

section {
  background-color: #ddd;
  padding: 1em;
  line-height: 1.4em;
}

a:hover, button:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}