/* 
  Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like THIS.
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px; /* footer height */
  text-align: center;
  font-family: 'Oswald Light', sans-serif;
  background-color: #444;
}

header, footer {
  background-color: rgba(34,0,0, 0.8);
  color: #fff;
}

/* HEADER SECTION */

header {
  text-transform: uppercase;
  padding-bottom: .4em;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding: .4em .2em .2em;
  /* if you remove this, font-height jumps to 49px from 46 */
  /*font-family: 'Passion One', cursive;*/
  font-size: 2.6em;
}

h1 a {
  font-family: 'Passion One', cursive;
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #0ff;
}

div {
  margin: 0 auto;
  padding: 0;
  width: 30px;
  height: 15px;
  border-radius: 3px;
  /* Entypo pictograms by Daniel Bruce — www.entypo.com */
  background: url(../entypo+/entypo+/dots-three-horizontal.svg) no-repeat center center #fff;
  background-size: 22px;
}

nav:hover ul {
  display: block;
}

/*header:hover div {
  display: none;
}*/

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: none;
  margin: .5em auto .7em;
  width: 100px;
  font-size: .85em;
}

nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  background-color: #200;
}

nav ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

/* END HEADER SECTION */ 


main { /* was 105px */
  margin: 81px auto 66px;
  min-width: 400px;
}

section {
  background-color: #ddd;
  padding: 1em;
  line-height: 1.4em;
}

a:hover, button:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}