/*
  Layout rules divide the page into sections. Layouts hold one or more modules together.
*/

section {
  margin-bottom: 66px;
}

@media only screen and (min-width: 500px) {
  main {
    margin: 105px 5% 0%;
  }

  section {
    margin: .7em;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 650px) {
  h1 {
    padding-top: .3em;
  }

  nav {
    position: static;
  }

  nav ul {
    display: block;
    width: 100%;
    margin: -5px 0 5px;
  }

  nav ul li {
    display: inline;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin-right: .3em;
  }

  nav ul li:first-child {
    border-top-color: #fff;
  }

  nav ul li:hover {
    border-color: #0ff;
  }

  div {
    display: none;
  }

  main {
    margin: 105px 10% 0;
  }
}

@media only screen and (min-width: 800px) {
  main {
    margin: 105px 15% 0;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    margin: 105px 20% 0;
  }
}