/*
  Layout rules divide the page into sections. Layouts hold one or more modules together.
*/

section {
  margin-bottom: 66px;
}

@media only screen and (min-width: 500px) {
  main {
    margin: 105px 5% 0%;
  }
}

@media only screen and (min-width: 650px) {
  main {
    margin: 105px 10% 0;
  }
}

@media only screen and (min-width: 800px) {
  main {
    margin: 105px 15% 0;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    margin: 105px 20% 0;
  }
}