/*
  Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
*/



/* HEADER SECTION */

div {
  margin: 0 auto;
  padding: 0;
  width: 30px;
  height: 15px;
  border-radius: 3px;
  /* Entypo pictograms by Daniel Bruce — www.entypo.com */
  background: url(../entypo+/entypo+/dots-three-horizontal.svg) no-repeat center center #fff;
  background-size: 22px;
}

header:hover ul {
  display: block;
}

/*header:hover div {
  display: none;
}*/

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: none;
  margin: .5em auto .7em;
  width: 85px;
}


nav ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.3em 0;
}

nav ul li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

/* END HEADER SECTION */ 



/* QUOTE SECTION */

.open-quote, .end-quote {
  color: #200;
  font-size: 145%;
  font-family: 'Passion One', sans-serif;
}

.end-quote {
  margin-left: 2px;
}

cite {
  margin: 0.9em 0;
  display: inline-block;
}

cite a {
  color: #200;
  font-weight: bold;
}

#quote-area {
  margin-bottom: 0;
  text-align: center;
}

/* END QUOTE SECTION */



/* TABLE OF CONTENTS */

#table-of-contents ul {
  list-style-type: none;
  padding-left: 0;
}

/* END TABLE OF CONTENTS */



/* STORIES SECTION */

blockquote {
  font-style: italic;
}

section p {
  text-align: left;
}

.markers {
	text-align: center;
	font-weight: bold;
}

/* END STORIES SECTION */



/* MISC COMPONENTS */

button {
  background-color: #200;
	color: #fff;
  border-radius: 7px;
}

/* END MISC COMPONENTS */