/*
  Modules are the reusable, modular parts of our design. They are the callouts, the sidebar sections, the product lists and so on.
*/

/* QUOTE SECTION */

.open-quote, .end-quote {
  color: #200;
  font-size: 145%;
  font-family: 'Passion One', sans-serif;
}

.end-quote {
  margin-left: 2px;
}

cite {
  margin: 0.9em 0;
  display: inline-block;
}

cite a {
  color: #200;
  font-weight: bold;
}

#quote-area {
  margin-bottom: 0;
  text-align: center;
}

/* END QUOTE SECTION */



/* TABLE OF CONTENTS */

#table-of-contents ul {
  list-style-type: none;
  padding-left: 0;
}

#table-of-contents li {
  padding: .1em;
}

#table-of-contents a {
  text-decoration: none;
}

/* END TABLE OF CONTENTS */



/* STORIES SECTION */

blockquote {
  font-style: italic;
}

section p {
  text-align: left;
}

.markers {
	text-align: center;
	font-weight: bold;
}

/* END STORIES SECTION */



/* MISC COMPONENTS */

button {
  background-color: #200;
	color: #fff;
  border-radius: 7px;
  padding: .5em 1em;
  font-weight: 500;
}

section a:visited, section a:hover {
  color: #000;
}

/* END MISC COMPONENTS */